@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



// Variables 
$font-family-sans-serif: "Segoe UI", sans-serif;
$widthContent: 95%; //area de trabajo cuando se expande o minimiza menu
$height: 100%;
$top: 90px; //Este se deja por el menú de Netsuite
$menuBarColor: rgb(29, 34, 40); // color de fondo de barra de navegación
$h3Size: 25px !important; // Está en important porque Netsuite sobreescribe
$textWhite: #f2f2f2;
$green-2: #52bf90;
$green-3: #2fb179;
$gray-1: #969696;
$gray-2: #c4c4c4;
$fontColor: #222528;
$backgroundColor: #f4f6f9;
$blue: #077cab;
$topNavColor: #0259C2;

// Por si usas position:relative este te respete el height 100%
html,
body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    font-family: 'Roboto', sans-serif;
}
// App engloba toda la página
#app {
    font-family: $font-family-sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // text-align: center;
    color: $menuBarColor;
    // height: $height;
    width: 100%;
    position: fixed;
    top: $top;
    bottom: 0;
    left: 0;
    overflow: auto;
    overflow-y: auto;
    font-size: 0.9rem !important;
}
// Oculta el título del suitelet
.uir-page-title {
    display: none;
}
.uir-header-buttons{
    padding: 0px !important;
}
#main_form,
#div__body{
    padding: 0px !important;
}
div#innerwrapper div#div__body {
padding: 0px !important;
}

//******************************** Menú***********************************
#global {
    display: grid !important;
    grid-template-columns: 16rem 1fr;
    grid-template-rows: 4rem 100%;
}

.topNavBarC {
    display: grid !important;
    background-color: $topNavColor !important;
    grid-column: 1/3;
    grid-row: 1/3;

}

.sideNavBarC {
    display: grid !important;
    background-color: white !important;
    grid-column: 1/2;
    grid-row: 2/3;


}
.moduleComponent {
    display: grid !important;
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #f4f6f9 !important;

}

.userName {
    color: $gray-1;
    font-weight: 400 !important;
    font-size: 1.1rem !important;
}

.userRole {
    color: $gray-1;
    font-weight: 400 !important;
    font-size: 0.9rem !important;
}

div:has(.collapsed) {
    .moduleComponent {
        grid-column: 2/3;
        grid-row: 2/3;
        transition: 0.3s;
    }

    .sideNavBarC {
        grid-column: 1/2;
        grid-row: 2/3;
        transition: 0.3s;

    }

}
.card{
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
    border: 0px !important;
    transition: 0.3s !important;
    border-radius: 3px !important;
    width: $widthContent;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: 1;
}
div:has(.hide_bar) {
    .moduleComponent {
        grid-column: 1/3;
        grid-row: 2/3;
        transition: 0.3s;

    }

    .sideNavBarC {
        grid-column: 1/1;
        grid-row: 2/3;
        transition: 0.3s;

    }
    
}
nav.navbar {
    padding-top: 0px !important;
}
// Menu of SideBar styles
.menuItem{
    font-size: 1rem !important;
    &:hover{
        cursor: pointer;
        background-color: $topNavColor;
        color: white;
    }
}
.menuSubItem {
    font-size: 1rem !important;
    &:hover a,
    &:hover{
        cursor: pointer;
        background-color: $topNavColor;
        color: white !important;
    }
}

a{
    text-decoration: none !important;
    color: $menuBarColor !important;
}
// blue color 
.blue-text{
    color:$blue !important;
}
// Modal styles
.modal-dialog{
    margin-top: 150px !important;
    border-radius: 1px !important;
    font-size: 0.9rem !important;
    button{
        background-color: $textWhite !important;
        border: 0px;
    }
    .modal-content{
        border-radius: 3px !important;
    }
    .modal-header{
        color: $blue !important;
        border-bottom: 0px !important;
        padding-bottom: 0px !important;
        .close{
            color: $gray-1 !important;
            cursor: pointer !important;
        }
    }
    .modal-body{
        padding-top: 0px !important;
    }
    .headline{
        background-color: $backgroundColor;
    }
    
    .success-color{
        color: $green-3 !important;
    }
}
// Form styles for types of input
.b-form-datepicker,select{
    border-radius: 3px !important;
}
// Title and subtitle styles
p,h2{
    text-align: left !important;
}

.cheto {
    background-color: $blue;
    color: $textWhite;
    border-radius: 5px;
    border-width: 2px;
    border-color: $blue;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-right: 10px;
    margin-right: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    white-space: pre-line;
    word-break: keep-all;
    word-wrap: normal;
    display: inline;
}
// Estilos de formulario de registro track
#register_track_form select,
#register_track_form textarea,
#register_track_form input,
input{
    border-radius: 3px !important;
}
#register_track_form .submit-button,
.submit-button{
    background-color: $blue !important;
    color: $textWhite !important;
    border-radius: 3px !important;
}
.text-left{
    text-align: left !important;
}
.error-color{
    color:#cb2424 !important;
}
small{
    font-size: 0.78rem !important;
}
h1,h2,h3,h4,h5,h6{
    text-align: left !important;
}
.btn_removeBKColor {
    background-color: transparent !important;
    border: 0px !important;
}
#uif46,
#uif70,
#uif47,
#uif48{
    background-color: black !important;
    color: white !important;
}

.n-w-menu-item-content__label{
    color: #0259c2 !important;
}
#uif70:active,
#uif70:hover{
    background-color: white !important;
    color: white !important;
}
.text-left{
    text-align: left !important;
}